<div id="adminDisplay" ng-controller="adminCtrl" >

  <form ng-submit="submit(frm)" id="adminForm">

    <div id="topAdminDisplay">

      <div id="topleftAdminDisplay">

        <input type="text" name="itemTitleInput" value="" ng-model="frm.itemTitleInput" placeholder="Title">
        <input type="text" name="itemMakeUnput" value="" ng-model="frm.itemMakeInput" placeholder="Make">
        <input type="text" name="itemModelUnput" value="" ng-model="frm.itemModelInput" placeholder="Model">
        <input type="text" name="itemDescriptionInput" id="descriptionInput" value="" ng-model="frm.itemDescriptionInput" placeholder="Description">
        <input type="text" name="itemImgInput" value="" ng-model="frm.itemImgInput" placeholder="Image">

      </div>

      <div id="toprightAdminDisplay">


        <div id="imgPreview">
            <img ng-src="{{frm.itemImgInput}}" />
        </div>

        <input type="number" name="itemPriceInput" value="" ng-model="frm.itemPriceInput" placeholder="0">
        <input type="number" name="itemInventoryInput" value="" ng-model="frm.itemInventoryInput" placeholder="0">


      </div>


    </div>

    <input type="submit" name="name" value="Add">


  </form>



  <div id="storeDisplay">

    <div id="storeDisplay">

      <div class="itemCells" ng-repeat="item in items">

        <div class="itemCellHeader">
          <button type="button" name="deleteItem" ng-click="delete(item)">X</button>
        </div>

        <div class="itemCellBody">

          <div class="">

            <h4>{{ item.title }}</h4>
            <p>
              ${{ item.price }}
            </p>
            <p>
              Left in stock: {{ item.inStock }}
            </p>

          </div>

          <div class="itemImages">

            <img ng-src="{{ item.image }}" alt="" />

          </div>

        </div>

      </div>

    </div>

  </div>
</div>
