<div id="storeDisplayheader">

  <input type="text" name="name" value="" ng-model="search" placeholder="Search">
  <!-- <input type="text" name="name" value="" ng-model="search.make" placeholder="Search"> -->

  <!-- <label>min-price<input type="number" name="name" value="" ng-model="search.minPrice"></label>
  <label>max-price<input type="number" name="name" value="" ng-model="search.maxPrice"></label> -->

</div>

<div id="storeDisplay">


  <div class="itemCells" ng-repeat="item in items | filter:search" ng-click="selectItem(item)">

    <div class="itemCellBody">

      <div class="itemImages">

        <img ng-src="{{ item.image }}" alt="" />

      </div>

      <div class="">

        <div class="itemCellHeader" >

          <a href="/#/selectItem">
            {{ item.make }} {{ item.model }}
          </a>

          <p>
            ${{ item.price }}
          </p>
          <p>
            Left in stock: {{ item.inStock }}
          </p>

        </div>

        <div class="itemCellDescription">

          {{ item.description }}

        </div>

      </div>


    </div>


  </div>



</div>
