<div class="storyHeaders">

  <h1>

    Welcome to MotorHeadz.com!

  </h1>

</div>
<div class="storyBodies">

  <div class="categoryBoard">

    <a href="/#/explore">Parts</a>

    <div class="homeCategoryDisplay">

      <div class="homeItemCell" ng-repeat="item in items.categories.parts">

        <img ng-src="{{ item.image }}" alt="" />

        <h3>{{ item.make }} {{ item.model }}</h3>

      </div>

    </div>

  </div>
  <div class="categoryBoard">

    <a>Accessories</a>

    <div class="homeCategoryDisplay">

      <div class="homeItemCell" ng-repeat="item in items.categories.accessories">

        <img ng-src="{{ item.image }}" alt="" />

        <h3>{{ item.name }}</h3>

      </div>

    </div>

  </div>
  <div class="categoryBoard">

    <a>Vehicles</a>

    <div class="homeCategoryDisplay">

      <div class="homeItemCell" ng-repeat="item in items.categories.vehicles">

        <img ng-src="{{ item.image }}" alt="" />

        <h3>{{ item.name }}</h3>

      </div>

    </div>

  </div>

</div>
