<div id="infoDisplay">


  <div class="imgContainer">

    <img ng-src="{{ currentItem.images[0] }}" alt="" />

  </div>


  <div class="infoContainer">

    <h1>{{ currentItem.make }} {{currentItem.model}}</h1>

    <div class="">

      <span>${{ currentItem.skus.data[0].price }}</span>

      <input type="number" name="name" value="" ng-model="frm.itemQuantity">

      <select class="" name="" ng-model="frm.colorSelect" value="Color">

        <option ng-repeat="sku in currentItem.skus.data">{{ sku.attributes.color }}</option>

      </select>

      <button type="button" name="button" ng-click="addToCart(frm, currentItem)">Add to Cart</button>

    </div>

    <div class="">

      <p>
        {{ currentItem.description }}
      </p>

    </div>

  </div>

</div>
